<div class="d-flex align-items-center" style="min-height: 65vh">
  <div class="container d-flex justify-content-center align-items-center" style="max-width: 350px">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="email@example.com" [formControl]="email" />
        <mat-error *ngIf="hasEmailError()">{{ getEmailErrorMessage() }}</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" class="w-100 mt-3">
        <div
          class="d-flex justify-content-center white-spinner pt-2"
          *ngIf="resetPasswordMail; else notReseting"
          style="width: 280px; height: 36px"
        >
          <mat-spinner diameter="24"></mat-spinner>
        </div>
        <ng-template #notReseting>SEND EMAIL</ng-template>
      </button>
    </form>
  </div>
</div>
