<div class="d-flex align-items-center" style="min-height: 75vh">
  <div class="container d-flex justify-content-center align-items-center">
    <div style="max-width: 500px">
      <mat-card class="mb-3" style="cursor: pointer" (click)="createRegular()">
        <mat-card-title>Regular User</mat-card-title>
        <mat-card-content>
          <p class="pt-2">
            As a regular user you will be able to see a list of restaurants, rate them and leave a comment.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="mb-3" style="cursor: pointer" (click)="createOwner()">
        <mat-card-title>Restaurant Owner</mat-card-title>
        <mat-card-content>
          <p class="pt-2">
            As a restaurant owner you will be able to see others users review on your restaurant and reply them.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
