::ng-deep .review-card .mat-form-field {
  height: 36px;
}

::ng-deep .review-card .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0;
}

::ng-deep .review-card .mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0;
}

::ng-deep .review-card .mat-form-field-appearance-outline .mat-form-field-infix {
  height: 40px;
  padding: 0;
  padding-top: 0.5em;
  padding-left: 1em;
}
